.modalVisual{
    display:none;
    position:fixed;
    z-index:1;
    padding-top:200px;
    left:0;
    top:0;
    width:95%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.8);
}

.modalConteudo{
    margin:auto;
    display:block;
    width:100%;
    max-width:400px;
}

#txtImg{
    margin:auto;
    display:block;
    width:90%;
    max-width:500px;
    text-align:center;
    color:#ccc;
    padding:10px 0;
    height:150px;
}

.fechar{
    position:absolute;
    top:150px;
    right:35px;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    cursor:pointer;
    min-height: 20px;
    max-height: 20px;
}


